body {
  padding: 50px;
  margin: 50px;
}
 
#map{
  height: 500px;
  width: 1000px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.jumbotron{
  background-color:teal;
}

a {
  color: black;
}